.firstPage{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    left: 45%;  
}
.header{
    background-color: #AEDCF9;
    height: 120px;
}

.track{
    margin: 0;
    position: absolute;
    left: 90%;
    top:30px;
}
.App{
    display: flex;
    justify-content: space-between;
    border: 2px solid #646464;
    background-color: #646464;
    width: 100%;
    height: 100%;

}

.dataCenter{
    margin: 9% auto;
    background: rgba(242, 242, 242, 0.65);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: center;
    max-width: 97%;
    height: 93%;
    width: 90%;
    padding: 7% 30px;
    left: 50px;
}

.dataCenter form {
    text-align: center;
    padding-left: 15px;
}
.dataCenter button{

display: block;
margin: 20px;

}
.cloud{
    margin: 9% auto;
    background: rgba(242, 242, 242, 0.65);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: center;
    max-width: 97%;
    height: 90%;
    width: 90%;
    padding: 7% 30px;
}

.trackEmail{
    margin: 9% auto;
    background:  rgba(242, 242, 242, 0.65);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: center;
    max-width: 97%;
    height: 90%;
    width: 90%;
    padding: 7% 30px;
    left: 50px;
}

.trackEmail button {
   background-color: rgba(155, 152, 152, 0.65 );
   color:white;
}

.box {
    display: flex;
    justify-content: space-around;
    background: rgba(155, 152, 152, 0.65);
   background-color: rgba(242, 242, 242, 0.65);
   
}
.app button{
position:absolute;
background-color: #4A9AF5;
}

.firstPage button {
    width: 170px;
   
}

.app Button {
    left: 75em;
    width: 100px
}
